/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --font_famaliy: "Inter-Variable", sans-serif;
    --accent_font_family: 'Press Start 2P', fantasy;
    --logo_size: clamp(3.063rem, 2.7109rem + 1.5023vw, 4.063rem);
    --header_text_size: clamp(0.875rem, 0.6768rem + 0.8458vw, 1.438rem);
    --main_font_size: 18px;
    --accent_font_size: 14px;
    --font_weight: 400;
}